<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pixsy Test Dive</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/mustache/mustache.js"></script>
  <script src="https://rawgit.com/flatiron/director/master/build/director.min.js"></script>
  <script src="/javascripts/scripts.js"></script>
</head>
<body>
  <div id="wrap">
    <div class="container">
      <div class="page-header">
        <h1>Pixsy Test Dive</h1>
      </div>
  