<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pixsy Test Dive</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

<!--   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <p class="navbar-text">Signed in as Mark Otto</p>
      </div>
    </div>
  </nav> -->
  